<!--Simplistic view of the campaign details-->
<div style="text-align: center; border: 2px solid black; border-radius: 5px; max-width: fit-content; margin: auto; background-color: lightblue;">
    <!--Navigation Links: Providing routing to each of the core parts of our application-->
    <div style="text-align: center; border: 2px solid black; margin: auto; background-color: aquamarine;">
      <p>
        <a href="/">Home</a><br>
        <a href="/members">Track Members</a><br>
      </p>
    </div>
    <h2>Current Campaigns</h2>
    <ul>
      <% campDetails.forEach(function(campaign) { %>
        <li style="list-style-type: none; margin: 10px 0;">
          <div style="border: 1px solid black; padding: 10px; border-radius: 5px; background-color: white;">
            <h3><%= campaign.sampling_campaign_ref %></h3>
            <p><strong>Campaign ID:</strong> <%= campaign.camp_id %></p>
            <p><strong>Start Date:</strong> <%= campaign.posted_date %></p>
            <p><strong>End Date:</strong> <%= campaign.end_date %></p>
            <p><strong>Description:</strong> <%= campaign.description %></p>
            <form action="/campaigns/<%= campaign.camp_id %>" method="GET">
              <button type="submit">View Details</button>
            </form>
          </div>
        </li>
      <% }); %>
    </ul>
</div>