<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Campaigns</title>
    <link rel="stylesheet" href="/campaignStyles.css">
</head>
<body>
    <div class="container">
        <form action="/" method="GET">
            <div style="text-align: center;">
                <button type="submit">Change Database</button>
            </div>
        </form>
        <h1><u>Displaying all Currently Running Campaigns</u></h1>
        <div class="nav-links">
            <p>
                <!--<a href="/">Home</a>-->
                <a href="/members">Squad Members</a>
            </p>
        </div>
        <table class="campaignTable">
            <thead>
                <tr>
                    <th>Campaign Reference</th>
                    <th>Campaign ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% campDetails.forEach(function(campaign) { %>
                    <tr>
                        <td><%= campaign.sampling_campaign_ref %></td>
                        <td><%= campaign.camp_id %></td>
                        <td><%= campaign.posted_date %></td>
                        <td><%= campaign.end_date %></td>
                        <td><%= campaign.description %></td>
                        <td>
                            <form action="/campaigns/<%= campaign.camp_id %>" method="GET">
                                <button type="submit" <%= guest ? 'disabled' : '' %>>View Details</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>