<body>
    <div style="text-align: center;">
        <p style="font-size: 20px;"><a href="/">Home</a></p>
        <h1><u>Member ID: <%= id %></u></h1>
        <h1><u>Member Name: <%= memberDetails.username %></u></h1>

        <!-- Form to Edit Student -->
        <form action="/members/edit/<%= id %>" method="POST" style="border: 2px solid black; border-radius: 5px; margin-left: auto; margin-right: auto; max-width: fit-content; background-color: wheat;">
            <label for="sid">Student ID:</label>
            <!--The id can be seen but not edited-->
            <input type="text" id="mid" name="sid" value="<%= id %>" readonly>
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= memberDetails.username %>">
            <br>
            <label for="age">Email:</label>
            <input type="text" id="email" name="email" value="<%= memberDetails.user_email %>">
            <br>
            <label for="age">Email:</label>
            <input type="text" id="email" name="age" value="<%= memberDetails.user_email %>">
            <br>
            <button type="submit">Update</button>
        </form>
    </div>
</body>