<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <p style="font-size: 20px;"><a href="/members"><u>Home</u></a></p>
        <h1><u>Currently Viewing: <%= memberDetails.username %></u></h1>

        <img src="<%= memberDetails.profile_image_url %>" alt="<%= memberDetails.username %>'s Profile Photo">
        <!-- Form to view and edit the information regarding  -->
        <form action="/members/edit/<%= id %>" method="POST">
            <label for="id">Member ID:</label>
            <input type="text" id="mid" name="id" value="<%= id %>" readonly>
            <br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= memberDetails.username %>">
            <label for="fname">First:</label>
            <input type="text" id="fname" name="fname" value="<%= memberDetails.profile_name %>">
            <br>
            <label for="sname">Surname:</label>
            <input type="text" id="sname" name="sname" value="<%= memberDetails.profile_surname %>">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%= memberDetails.user_email %>">
            <br>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" value="<%= memberDetails.user_country %>">
            <br>
            <label for="dob">Date of Birth:</label>
            <input type="text" id="dob" name="dob" value="<%= memberDetails.user_dob %>">
            <br>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="NULL" <%= memberDetails.gender === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="FEMALE" <%= memberDetails.gender === 'FEMALE' ? 'selected' : '' %>>Female</option>
                <option value="MALE" <%= memberDetails.gender === 'MALE' ? 'selected' : '' %>>Male</option>
                <option value="NON_BINARY" <%= memberDetails.gender === 'NON_BINARY' ? 'selected' : '' %>>Non-binary</option>
                <option value="OTHER" <%= memberDetails.gender === 'OTHER' ? 'selected' : '' %>>Other</option>
                <option value="PREFER_NOT_ANSWER" <%= memberDetails.gender === 'PREFER_NOT_ANSWER' ? 'selected' : '' %>>Prefer not to answer</option>
            </select>
            <br>
            <label for="vide_rev">Video Reviewer:</label>
            <input type="checkbox" id="vide_rev" name="vide_rev" value="1" <%= memberDetails.video_reviewer ? 'checked' : '' %>>
            <br>
            <label for="heard">Heard About:</label>
            <input type="text" id="heard" name="heard" value="<%= memberDetails.heard_about %>">
            <br>
            <label for="status">User Status:</label>
            <select id="status" name="status">
                <option value="NULL" <%= memberDetails.user_status === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ACTIVE" <%= memberDetails.user_status === 'ACTIVE' ? 'selected' : '' %>>Active</option>
                <option value="DELETED" <%= memberDetails.user_status === 'DELETED' ? 'selected' : '' %>>Deleted</option>
                <option value="PENDING" <%= memberDetails.user_status === 'PENDING' ? 'selected' : '' %>>Pending</option>
            </select>
            <br>
            <label for="lastLog">Last Login:</label>
            <input type="text" id="lastLog" name="lastLog" value="<%= memberDetails.user_last_login_at %>">
            <br>
            <label for="create">Created At:</label>
            <input type="text" id="create" name="create" value="<%= memberDetails.user_created_at %>">
            <br>
            <label for="instHand">Instagram Handle:</label>
            <input type="text" id="instHand" name="instHand" value="<%= memberDetails.profile_instagram_handle %>">
            <br>
            <label for="tikHand">TikTok Handle:</label>
            <input type="text" id="tikHand" name="tikHand" value="<%= memberDetails.profile_tiktok_handle %>">
            <br>
            <label for="instFol">Instagram Followers:</label>
            <input type="text" id="instFol" name="instFol" value="<%= memberDetails.instagram_followers %>">
            <br>
            <label for="profShar">Profile Sharing:</label>
            <input type="text" id="profShar" name="profShar" value="<%= memberDetails.profile_sharing %>">
            <br>
            <label for="profAtts">Profile Attributes Privacy:</label>
            <input type="text" id="profAtts" name="profAtts" value="<%= memberDetails.profile_attributes_privacy %>">
            <br>
            <label for="profBio">Profile Bio:</label>
            <input type="text" id="profBio" name="profBio" value="<%= memberDetails.profile_bio %>">
            <br>
            <label for="profImgId">Profile Image Id:</label>
            <input type="text" id="profImgId" name="profImgId" value="<%= memberDetails.profile_image_id %>">
            <br>
            <label for="profImgUrl">Profile Image Url:</label>
            <input type="text" id="profImgUrl" name="profImgUrl" value="<%= memberDetails.profile_image_url %>">
            <br>
            <label for="profNews">Profile Newsletter:</label>
            <input type="text" id="profNews" name="profNews" value="<%= memberDetails.profile_newsletter %>">
            <br>
            <br>

            <!--LAYING OUT THE ATTRIBUTES OF THE SQUAD MEMBER-->
            <label><h2><u>Squad Member Attributes</u></h2></label>
            <label for="skinTone">Skin Tone:</label>
            <select id="skinTone" name="skinTone">
                <option value="NULL" <%= memberDetails.ua_skin_tone === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="VERY_FAIR" <%= memberDetails.ua_skin_tone === 'VERY_FAIR' ? 'selected' : '' %>>Very Fair</option>
                <option value="FAIR" <%= memberDetails.ua_skin_tone === 'FAIR' ? 'selected' : '' %>>Fair</option>
                <option value="MEDIUM" <%= memberDetails.ua_skin_tone === 'MEDIUM' ? 'selected' : '' %>>Medium</option>
                <option value="TAN" <%= memberDetails.ua_skin_tone === 'TAN' ? 'selected' : '' %>>Tan</option>
                <option value="DEEP" <%= memberDetails.ua_skin_tone === 'DEEP' ? 'selected' : '' %>>Deep</option>
                <option value="DARK" <%= memberDetails.ua_skin_tone === 'DARK' ? 'selected' : '' %>>Dark</option>
            </select>
            <br>
            <label for="complex">Skin Complexion:</label>
            <select id="complex" name="complex">
                <option value="NULL" <%= memberDetails.ua_skin_complexion === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="COOL" <%= memberDetails.ua_skin_complexion === 'COOL' ? 'selected' : '' %>>Cool</option>
                <option value="OLIVE" <%= memberDetails.ua_skin_complexion === 'OLIVE' ? 'selected' : '' %>>Olive</option>
                <option value="NEUTRAL" <%= memberDetails.ua_skin_complexion === 'NEUTRAL' ? 'selected' : '' %>>Neutral</option>
                <option value="BEIGE" <%= memberDetails.ua_skin_complexion === 'BEIGE' ? 'selected' : '' %>>Beige</option>
                <option value="WARM" <%= memberDetails.ua_skin_complexion === 'WARM' ? 'selected' : '' %>>Warm</option>
                <option value="GOLDEN" <%= memberDetails.ua_skin_complexion === 'GOLDEN' ? 'selected' : '' %>>Golden</option>
            </select>
            <br>
            <label for="sensSkin">Sensitive Skin:</label>
            <input type="checkbox" id="sensSkin" name="sensSkin" value="1" <%= memberDetails.ua_sensitive_skin ? 'checked' : '' %>>
            <br>
            <label for="skinType">Skin Type:</label>
            <select id="skinType" name="skinType">
                <option value="NULL" <%= memberDetails.ua_skin_type === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="NORMAL" <%= memberDetails.ua_skin_type === 'NORMAL' ? 'selected' : '' %>>Normal</option>
                <option value="DRY" <%= memberDetails.ua_skin_type === 'DRY' ? 'selected' : '' %>>Dry</option>
                <option value="OILY" <%= memberDetails.ua_skin_type === 'OILY' ? 'selected' : '' %>>Oily</option>
                <option value="COMBINATION" <%= memberDetails.ua_skin_type === 'COMBINATION' ? 'selected' : '' %>>Combination</option>
                <option value="MATURE" <%= memberDetails.ua_skin_type === 'MATURE' ? 'selected' : '' %>>Mature</option>
            </select>
            <br>
            <label for="skinLin">Skin Concerns - Fine Lines:</label>
            <input type="checkbox" id="skinLin" name="skinLin" value="1" <%= memberDetails.ua_skin_concerns_file_lines ? 'checked' : '' %>>
            <br>
            <label for="skinBreak">Skin Concerns - Breakouts:</label>
            <input type="checkbox" id="skinBreak" name="skinBreak" value="1" <%= memberDetails.ua_skin_concerns_breakouts ? 'checked' : '' %>>
            <br>
            <label for="lPore">Skin Concerns - Large Pores:</label>
            <input type="checkbox" id="lPore" name="lPore" value="1" <%= memberDetails.ua_skin_concerns_large_pores ? 'checked' : '' %>>
            <br>
            <label for="hypPig">Skin Concerns - Hyper Pigmentation:</label>
            <input type="checkbox" id="hypPig" name="hypPig" value="1" <%= memberDetails.ua_skin_concerns_hyper_pigmentation ? 'checked' : '' %>>
            <br>
            <label for="unevTone">Skin Concerns - Uneven Tone:</label>
            <input type="checkbox" id="unevTone" name="unevTone" value="1" <%= memberDetails.ua_skin_concerns_uneven_tone ? 'checked' : '' %>>
            <br>
            <label for="dehyd">Skin Concerns - Dehydration:</label>
            <input type="checkbox" id="dehyd" name="dehyd" value="1" <%= memberDetails.ua_skin_concerns_dehydration ? 'checked' : '' %>>
            <br>
            <label for="acne">Skin Concerns - Acne:</label>
            <input type="checkbox" id="acne" name="acne" value="1" <%= memberDetails.ua_skin_concerns_acne ? 'checked' : '' %>>
            <br>
            <label for="dullSkin">Dull Skin:</label>
            <input type="checkbox" id="dullSkin" name="dullSkin" value="1" <%= memberDetails.ua_skin_dull_skin ? 'checked' : '' %>>
            <br>
            <label for="rosa">Skin Concerns - Rosacea:</label>
            <input type="checkbox" id="rosa" name="rosa" value="1" <%= memberDetails.ua_skin_concerns_rosacea ? 'checked' : '' %>>
            <br>
            <label for="darkSpots">Skin Concerns - Dark Spots:</label>
            <input type="checkbox" id="darkSpots" name="darkSpots" value="1" <%= memberDetails.ua_skin_concerns_dark_spots ? 'checked' : '' %>>
            <br>
            <label for="sunDam">Skin Concerns - Sun Damage:</label>
            <input type="checkbox" id="sunDam" name="sunDam" value="1" <%= memberDetails.ua_skin_concerns_sun_damage ? 'checked' : '' %>>
            <br>
            <label for="puffy">Skin Concerns - Puffiness:</label>
            <input type="checkbox" id="puffy" name="puffy" value="1" <%= memberDetails.ua_skin_concerns_puffiness ? 'checked' : '' %>>
            <br>
            <label for="cysAcne">Skin Concerns - Cystic Acne:</label>
            <input type="checkbox" id="cysAcne" name="cysAcne" value="1" <%= memberDetails.ua_skin_concerns_cystic_acne ? 'checked' : '' %>>
            <br>

            <label for="eyeCol">Eye Colour:</label>
            <select id="eyeCol" name="eyeCol">
                <option value="NULL" <%= memberDetails.ua_eye_colour === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="BLUE" <%= memberDetails.ua_eye_colour === 'BLUE' ? 'selected' : '' %>>Blue</option>
                <option value="GREEN" <%= memberDetails.ua_eye_colour === 'GREEN' ? 'selected' : '' %>>Green</option>
                <option value="GREY" <%= memberDetails.ua_eye_colour === 'GREY' ? 'selected' : '' %>>Grey</option>
                <option value="BROWN" <%= memberDetails.ua_eye_colour === 'BROWN' ? 'selected' : '' %>>Brown</option>
                <option value="HAZEL" <%= memberDetails.ua_eye_colour === 'HAZEL' ? 'selected' : '' %>>Hazel</option>
                <option value="AMBER" <%= memberDetails.ua_eye_colour === 'AMBER' ? 'selected' : '' %>>Amber</option>
                <option value="RED" <%= memberDetails.ua_eye_colour === 'RED' ? 'selected' : '' %>>Red</option>
            </select>
            <br>
            <label for="eyeDark">Eye Concerns - Dark Circles:</label>
            <input type="checkbox" id="eyeDark" name="eyeDark" value="1" <%= memberDetails.ua_eye_concerns_dark_circles ? 'checked' : '' %>>
            <br>
            <label for="eyeLines">Eye Concerns - Lines/Wrinkles:</label>
            <input type="checkbox" id="eyeLines" name="eyeLines" value="1" <%= memberDetails.ua_eye_concerns_lines_wrinkles ? 'checked' : '' %>>
            <br>
            <label for="eyeDroop">Eye Concerns - Drooping Eyelids:</label>
            <input type="checkbox" id="eyeDroop" name="eyeDroop" value="1" <%= memberDetails.ua_eye_concerns_drooping_eyelids ? 'checked' : '' %>>
            <br>
            <label for="eyePuffy">Eye Concerns - Puffiness:</label>
            <input type="checkbox" id="eyePuffy" name="eyePuffy" value="1" <%= memberDetails.ua_eye_concerns_puffiness ? 'checked' : '' %>>
            <br>
            <label for="eyeHollows">Eye Concerns - Under Eye Hallows:</label>
            <input type="checkbox" id="eyeHollows" name="eyeHollows" value="1" <%= memberDetails.ua_eye_concerns_under_eye_hallows ? 'checked' : '' %>>
            <br>
            <label for="eyeNone">Eye Concerns - None:</label>
            <input type="checkbox" id="eyeNone" name="eyeNone" value="1" <%= memberDetails.ua_eye_concerns_none ? 'checked' : '' %>>
            <br>
            <label for="lipsNormal">Lips Concerns - Normal:</label>
            <input type="checkbox" id="lipsNormal" name="lipsNormal" value="1" <%= memberDetails.ua_lips_concerns_normal ? 'checked' : '' %>>
            <br>
            <label for="lipsDry">Lips Concerns - Dry:</label>
            <input type="checkbox" id="lipsDry" name="lipsDry" value="1" <%= memberDetails.ua_lips_concerns_dry ? 'checked' : '' %>>
            <br>
            <label for="lipsCracked">Lips Concerns - Cracked:</label>
            <input type="checkbox" id="lipsCracked" name="lipsCracked" value="1" <%= memberDetails.ua_lips_concerns_cracked ? 'checked' : '' %>>
            <br>
            <label for="lipsColdSores">Lips Concerns - Cold Sores:</label>
            <input type="checkbox" id="lipsColdSores" name="lipsColdSores" value="1" <%= memberDetails.ua_lips_concerns_cold_sores ? 'checked' : '' %>>
            <br>
            <label for="lipsThin">Lips Concerns - Thin:</label>
            <input type="checkbox" id="lipsThin" name="lipsThin" value="1" <%= memberDetails.ua_lips_concerns_thin ? 'checked' : '' %>>
            <br>
            <label for="lipsChapped">Lips Concerns - Chapped:</label>
            <input type="checkbox" id="lipsChapped" name="lipsChapped" value="1" <%= memberDetails.ua_lips_concerns_chapped ? 'checked' : '' %>>
            <br>

            <label for="bodySkinType">Body Skin Type:</label>
            <select id="bodySkinType" name="bodySkinType">
                <option value="NULL" <%= memberDetails.ua_body_skin_type === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="NORMAL" <%= memberDetails.ua_body_skin_type === 'NORMAL' ? 'selected' : '' %>>Normal</option>
                <option value="DRY" <%= memberDetails.ua_body_skin_type === 'DRY' ? 'selected' : '' %>>Dry</option>
                <option value="OILY" <%= memberDetails.ua_body_skin_type === 'OILY' ? 'selected' : '' %>>Oily</option>
                <option value="COMBINATION" <%= memberDetails.ua_body_skin_type === 'COMBINATION' ? 'selected' : '' %>>Combination</option>
                <option value="MATURE" <%= memberDetails.ua_body_skin_type === 'MATURE' ? 'selected' : '' %>>Mature</option>
            </select>
            <br>

            <label for="bodyCellulite">Body Skin Concerns - Cellulite:</label>
            <input type="checkbox" id="bodyCellulite" name="bodyCellulite" value="1" <%= memberDetails.ua_body_skin_concerns_cellulite ? 'checked' : '' %>>
            <br>
            <label for="bodyStretchMarks">Body Skin Concerns - Stretch Marks:</label>
            <input type="checkbox" id="bodyStretchMarks" name="bodyStretchMarks" value="1" <%= memberDetails.ua_body_skin_concerns_stretch_marks ? 'checked' : '' %>>
            <br>
            <label for="bodyDehydration">Body Skin Concerns - Dehydration:</label>
            <input type="checkbox" id="bodyDehydration" name="bodyDehydration" value="1" <%= memberDetails.ua_body_skin_concerns_dehydration ? 'checked' : '' %>>
            <br>
            <label for="bodyMenopausal">Body Skin Concerns - Menopausal:</label>
            <input type="checkbox" id="bodyMenopausal" name="bodyMenopausal" value="1" <%= memberDetails.ua_body_skin_concerns_menopausal ? 'checked' : '' %>>
            <br>
            <label for="bodyItchySkin">Body Skin Concerns - Itchy Skin:</label>
            <input type="checkbox" id="bodyItchySkin" name="bodyItchySkin" value="1" <%= memberDetails.ua_body_skin_concerns_itchy_skin ? 'checked' : '' %>>
            <br>
            <label for="bodyEczema">Body Skin Concerns - Eczema:</label>
            <input type="checkbox" id="bodyEczema" name="bodyEczema" value="1" <%= memberDetails.ua_body_skin_concerns_eczema ? 'checked' : '' %>>
            <br>
            <label for="bodyPsoriasis">Body Skin Concerns - Psoriasis:</label>
            <input type="checkbox" id="bodyPsoriasis" name="bodyPsoriasis" value="1" <%= memberDetails.ua_body_skin_concerns_psoriasis ? 'checked' : '' %>>
            <br>
            <label for="bodyVitiligo">Body Skin Concerns - Vitiligo:</label>
            <input type="checkbox" id="bodyVitiligo" name="bodyVitiligo" value="1" <%= memberDetails.ua_body_skin_concerns_vitiligo ? 'checked' : '' %>>
            <br>
            <label for="bodyKeratosisPilaris">Body Skin Concerns - Keratosis Pilaris:</label>
            <input type="checkbox" id="bodyKeratosisPilaris" name="bodyKeratosisPilaris" value="1" <%= memberDetails.ua_body_skin_concerns_keratosis_pilaris ? 'checked' : '' %>>
            <br>
            <label for="bodyNone">Body Skin Concerns - None:</label>
            <input type="checkbox" id="bodyNone" name="bodyNone" value="1" <%= memberDetails.ua_body_skin_concerns_none ? 'checked' : '' %>>
            <br>
            <label for="hairStruct">Hair Structure:</label>
            <select id="hairStruct" name="hairStruct">
                <option value="NULL" <%= memberDetails.ua_hair_structure === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="FINE" <%= memberDetails.ua_hair_structure === 'FINE' ? 'selected' : '' %>>Fine</option>
                <option value="MEDIUM" <%= memberDetails.ua_hair_structure === 'MEDIUM' ? 'selected' : '' %>>Medium</option>
                <option value="COARSE" <%= memberDetails.ua_hair_structure === 'COARSE' ? 'selected' : '' %>>Coarse</option>
            </select>
            <br>
            <label for="moistLvl">Moisture Levels:</label>
            <select id="moistLvl" name="moistLvl">
                <option value="NULL" <%= memberDetails.ua_moisture_levels === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="NORMAL" <%= memberDetails.ua_moisture_levels === 'NORMAL' ? 'selected' : '' %>>Normal</option>
                <option value="DRY" <%= memberDetails.ua_moisture_levels === 'DRY' ? 'selected' : '' %>>Dry</option>
                <option value="OILY" <%= memberDetails.ua_moisture_levels === 'OILY' ? 'selected' : '' %>>Oily</option>
            </select>
            <br>
            <label for="hairCol">Hair Colour:</label>
            <select id="hairCol" name="hairCol">
                <option value="NULL" <%= memberDetails.ua_hair_colour === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="BLONDE" <%= memberDetails.ua_hair_colour === 'BLONDE' ? 'selected' : '' %>>Blonde</option>
                <option value="RED" <%= memberDetails.ua_hair_colour === 'RED' ? 'selected' : '' %>>Red</option>
                <option value="BROWN" <%= memberDetails.ua_hair_colour === 'BROWN' ? 'selected' : '' %>>Brown</option>
                <option value="BLACK" <%= memberDetails.ua_hair_colour === 'BLACK' ? 'selected' : '' %>>Black</option>
                <option value="GREY" <%= memberDetails.ua_hair_colour === 'GREY' ? 'selected' : '' %>>Grey</option>
                <option value="WHITE" <%= memberDetails.ua_hair_colour === 'WHITE' ? 'selected' : '' %>>White</option>
                <option value="OTHER" <%= memberDetails.ua_hair_colour === 'OTHER' ? 'selected' : '' %>>Other</option>
            </select>
            <br>
            <label for="hairType">Hair Colour - Type:</label>
            <input type="checkbox" id="hairType" name="hairType" value="1" <%= memberDetails.ua_hair_type ? 'checked' : '' %>>
            <br>
            <label for="hairColTreat">Hair Colour - Treated:</label>
            <input type="checkbox" id="hairColTreat" name="hairColTreat" value="1" <%= memberDetails.ua_hair_colour_treated ? 'checked' : '' %>>
            <br>
            <label for="hairColTreatHow">Hair Colour - Treated How:</label>
            <select id="hairColTreatHow" name="hairColTreatHow">
                <option value="NULL" <%= memberDetails.ua_hair_colour_treated_how === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="TEMPORARY_COLOUR" <%= memberDetails.ua_hair_colour_treated_how === 'TEMPORARY_COLOUR' ? 'selected' : '' %>>Temporary Colour</option>
                <option value="SEMI_PERMANENT_COLOUR" <%= memberDetails.ua_hair_colour_treated_how === 'SEMI_PERMANENT_COLOUR' ? 'selected' : '' %>>Semi-Permanent Colour</option>
                <option value="DEMI_PERMANENT" <%= memberDetails.ua_hair_colour_treated_how === 'DEMI_PERMANENT' ? 'selected' : '' %>>Demi-Permanent</option>
                <option value="PERMANENT_HIGHLIGHTS" <%= memberDetails.ua_hair_colour_treated_how === 'PERMANENT_HIGHLIGHTS' ? 'selected' : '' %>>Permanent Highlights</option>
                <option value="OMBRE" <%= memberDetails.ua_hair_colour_treated_how === 'OMBRE' ? 'selected' : '' %>>Ombre</option>
                <option value="BALYAGE" <%= memberDetails.ua_hair_colour_treated_how === 'BALYAGE' ? 'selected' : '' %>>Balyage</option>
                <option value="LOWLIGHTS" <%= memberDetails.ua_hair_colour_treated_how === 'LOWLIGHTS' ? 'selected' : '' %>>Lowlights</option>
                <option value="TEXTURED_HIGHLIGHTS" <%= memberDetails.ua_hair_colour_treated_how === 'TEXTURED_HIGHLIGHTS' ? 'selected' : '' %>>Textured Highlights</option>
                <option value="ROOT_COLOUR" <%= memberDetails.ua_hair_colour_treated_how === 'ROOT_COLOUR' ? 'selected' : '' %>>Root Colour</option>
                <option value="HENNA" <%= memberDetails.ua_hair_colour_treated_how === 'HENNA' ? 'selected' : '' %>>Henna</option>
            </select>
            <br>
            <label for="hairFrizz">Hair Concerns - Frizz:</label>
            <input type="checkbox" id="hairFrizz" name="hairFrizz" value="1" <%= memberDetails.ua_hair_concerns_frizz ? 'checked' : '' %>>
            <br>
            <label for="hairDandruff">Hair Concerns - Dandruff:</label>
            <input type="checkbox" id="hairDandruff" name="hairDandruff" value="1" <%= memberDetails.ua_hair_concerns_dandruff ? 'checked' : '' %>>
            <br>
            <label for="hairDamage">Hair Concerns - Damage:</label>
            <input type="checkbox" id="hairDamage" name="hairDamage" value="1" <%= memberDetails.ua_hair_concerns_damage ? 'checked' : '' %>>
            <br>
            <label for="hairColoured">Hair Concerns - Coloured:</label>
            <input type="checkbox" id="hairColoured" name="hairColoured" value="1" <%= memberDetails.ua_hair_concerns_coloured ? 'checked' : '' %>>
            <br>
            <label for="hairLackVolume">Hair Concerns - Lack of Volume:</label>
            <input type="checkbox" id="hairLackVolume" name="hairLackVolume" value="1" <%= memberDetails.ua_hair_concerns_lack_volume ? 'checked' : '' %>>
            <br>
            <label for="hairLoss">Hair Concerns - Hair Loss:</label>
            <input type="checkbox" id="hairLoss" name="hairLoss" value="1" <%= memberDetails.ua_hair_concerns_hair_loss ? 'checked' : '' %>>
            <br>
            <label for="hairAgeing">Hair Concerns - Ageing Hair:</label>
            <input type="checkbox" id="hairAgeing" name="hairAgeing" value="1" <%= memberDetails.ua_hair_concerns_ageing_hair ? 'checked' : '' %>>
            <br>
            <label for="hairSplitEnds">Hair Concerns - Split Ends:</label>
            <input type="checkbox" id="hairSplitEnds" name="hairSplitEnds" value="1" <%= memberDetails.ua_hair_concerns_split_ends ? 'checked' : '' %>>
            <br>
            <label for="hairLackShine">Hair Concerns - Lack of Shine:</label>
            <input type="checkbox" id="hairLackShine" name="hairLackShine" value="1" <%= memberDetails.ua_hair_concerns_lack_shine ? 'checked' : '' %>>
            <br>
            <label for="hairPsoriasis">Hair Concerns - Psoriasis:</label>
            <input type="checkbox" id="hairPsoriasis" name="hairPsoriasis" value="1" <%= memberDetails.ua_hair_concerns_psoriasis ? 'checked' : '' %>>
            <br>
            <label for="hairOilyScalp">Hair Concerns - Oily Scalp:</label>
            <input type="checkbox" id="hairOilyScalp" name="hairOilyScalp" value="1" <%= memberDetails.ua_hair_oily_scalp ? 'checked' : '' %>>
            <br>
            <label for="hairItchyScalp">Hair Concerns - Itchy Scalp:</label>
            <input type="checkbox" id="hairItchyScalp" name="hairItchyScalp" value="1" <%= memberDetails.ua_hair_concern_itchy_scalp ? 'checked' : '' %>>
            <br>
            <label for="hairHeatDamaged">Hair Concerns - Heat Damaged:</label>
            <input type="checkbox" id="hairHeatDamaged" name="hairHeatDamaged" value="1" <%= memberDetails.ua_hair_concern_heat_damaged ? 'checked' : '' %>>
            <br>
            <label for="hairThinning">Hair Concerns - Thinning:</label>
            <input type="checkbox" id="hairThinning" name="hairThinning" value="1" <%= memberDetails.ua_hair_concern_thinning ? 'checked' : '' %>>
            <br>
            <label for="hairAlopecia">Hair Concerns - Alopecia:</label>
            <input type="checkbox" id="hairAlopecia" name="hairAlopecia" value="1" <%= memberDetails.ua_hair_concern_alopecia ? 'checked' : '' %>>
            <br>
            <label for="hairDryScalp">Hair Concerns - Dry Scalp:</label>
            <input type="checkbox" id="hairDryScalp" name="hairDryScalp" value="1" <%= memberDetails.ya_hari_concern_dry_scalp ? 'checked' : '' %>>
            <br>
            <label for="hairNone">Hair Concerns - None:</label>
            <input type="checkbox" id="hairNone" name="hairNone" value="1" <%= memberDetails.ua_hair_concerns_none ? 'checked' : '' %>>
            <br>
            <label for="scentsClean">Scents - Clean:</label>
            <input type="checkbox" id="scentsClean" name="scentsClean" value="1" <%= memberDetails.ua_scents_clean ? 'checked' : '' %>>
            <br>
            <label for="scentsFloral">Scents - Floral:</label>
            <input type="checkbox" id="scentsFloral" name="scentsFloral" value="1" <%= memberDetails.ua_scents_floral ? 'checked' : '' %>>
            <br>
            <label for="scentsOriental">Scents - Oriental:</label>
            <input type="checkbox" id="scentsOriental" name="scentsOriental" value="1" <%= memberDetails.ua_scents_oriental ? 'checked' : '' %>>
            <br>
            <label for="scentsWoody">Scents - Woody:</label>
            <input type="checkbox" id="scentsWoody" name="scentsWoody" value="1" <%= memberDetails.ua_scents_woody ? 'checked' : '' %>>
            <br>
            <label for="scentsCitrus">Scents - Citrus:</label>
            <input type="checkbox" id="scentsCitrus" name="scentsCitrus" value="1" <%= memberDetails.ua_scents_citrus ? 'checked' : '' %>>
            <br>
            <label for="scentsFruity">Scents - Fruity:</label>
            <input type="checkbox" id="scentsFruity" name="scentsFruity" value="1" <%= memberDetails.ua_scents_fruity ? 'checked' : '' %>>
            <br>
            <label for="scentsGreen">Scents - Green:</label>
            <input type="checkbox" id="scentsGreen" name="scentsGreen" value="1" <%= memberDetails.ua_scents_green ? 'checked' : '' %>>
            <br>
            <label for="scentsOceanic">Scents - Oceanic:</label>
            <input type="checkbox" id="scentsOceanic" name="scentsOceanic" value="1" <%= memberDetails.ua_scents_oceanic ? 'checked' : '' %>>
            <br>
            <label for="scentsSpicy">Scents - Spicy:</label>
            <input type="checkbox" id="scentsSpicy" name="scentsSpicy" value="1" <%= memberDetails.ua_scents_spicy ? 'checked' : '' %>>
            <br>
            <label for="productAntiAgeing">Product - Anti Ageing:</label>
            <select id="productAntiAgeing" name="productAntiAgeing">
                <option value="NULL" <%= memberDetails.ua_product_anti_ageing === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_anti_ageing === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_anti_ageing === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_anti_ageing === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productClean">Product - Clean:</label>
            <select id="productClean" name="productClean">
                <option value="NULL" <%= memberDetails.ua_product_clean === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_clean === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_clean === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_clean === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsAloe">Product - Contains Aloe:</label>
            <select id="productContainsAloe" name="productContainsAloe">
                <option value="NULL" <%= memberDetails.ua_product_contains_aloe === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_aloe === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_aloe === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_aloe === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsCaffeine">Product - Contains Caffeine:</label>
            <select id="productContainsCaffeine" name="productContainsCaffeine">
                <option value="NULL" <%= memberDetails.ua_product_contains_caffeine === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_caffeine === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_caffeine === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_caffeine === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsCocoa">Product - Contains Cocoa:</label>
            <select id="productContainsCocoa" name="productContainsCocoa">
                <option value="NULL" <%= memberDetails.ua_product_contains_cocoa === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_cocoa === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_cocoa === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_cocoa === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsRetinol">Product - Contains Retinol:</label>
            <select id="productContainsRetinol" name="productContainsRetinol">
                <option value="NULL" <%= memberDetails.ua_product_contains_retinol === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_retinol === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_retinol === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_retinol === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsShea">Product - Contains Shea:</label>
            <select id="productContainsShea" name="productContainsShea">
                <option value="NULL" <%= memberDetails.ua_product_contains_shea === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_shea === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_shea === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_shea === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productContainsSpf">Product - Contains SPF:</label>
            <select id="productContainsSpf" name="productContainsSpf">
                <option value="NULL" <%= memberDetails.ua_product_contains_spf === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_contains_spf === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_contains_spf === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_contains_spf === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productCrueltyFree">Product - Cruelty Free:</label>
            <select id="productCrueltyFree" name="productCrueltyFree">
                <option value="NULL" <%= memberDetails.ua_product_cruelty_free === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_cruelty_free === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_cruelty_free === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_cruelty_free === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productEcoFriendly">Product - Eco Friendly:</label>
            <select id="productEcoFriendly" name="productEcoFriendly">
                <option value="NULL" <%= memberDetails.ua_product_eco_friendly === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_eco_friendly === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_eco_friendly === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_eco_friendly === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productHalal">Product - Halal:</label>
            <select id="productHalal" name="productHalal">
                <option value="NULL" <%= memberDetails.ua_product_halal === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_halal === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_halal === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_halal === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productNatural">Product - Natural:</label>
            <select id="productNatural" name="productNatural">
                <option value="NULL" <%= memberDetails.ua_product_natural === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_natural === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_natural === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_natural === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productOrganic">Product - Organic:</label>
            <select id="productOrganic" name="productOrganic">
                <option value="NULL" <%= memberDetails.ua_product_organic === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_organic === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_organic === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_organic === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productVeganFriendly">Product - Vegan Friendly:</label>
            <select id="productVeganFriendly" name="productVeganFriendly">
                <option value="NULL" <%= memberDetails.ua_product_vegan_friendly === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_vegan_friendly === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_vegan_friendly === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_vegan_friendly === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>
            <label for="productSustainable">Product - Sustainable:</label>
            <select id="productSustainable" name="productSustainable">
                <option value="NULL" <%= memberDetails.ua_product_sustainable === 'NULL' ? 'selected' : '' %>>Select a value</option>
                <option value="ALWAYS" <%= memberDetails.ua_product_sustainable === 'ALWAYS' ? 'selected' : '' %>>Always</option>
                <option value="SOMETIMES" <%= memberDetails.ua_product_sustainable === 'SOMETIMES' ? 'selected' : '' %>>Sometimes</option>
                <option value="DONTMIND" <%= memberDetails.ua_product_sustainable === 'DONTMIND' ? 'selected' : '' %>>Don't Mind</option>
            </select>
            <br>

            <!--PURCHASING FACTOR PORTION OF CODE-->
            <label><h2><u>Purchasing Factors</u></h2></label>
            <label for="purFact1">Purchase Factor 1:</label>
            <input type="text" id="purFact1" name="purFact1" value="<%= memberDetails.ua_purchasing_factor1 %>">
            <br>
            <label for="purFact2">Purchase Factor 2:</label>
            <input type="text" id="purFact2" name="purFact2" value="<%= memberDetails.ua_purchasing_factor2 %>">
            <br>
            <label for="purFact3">Purchase Factor 3:</label>
            <input type="text" id="purFact3" name="purFact3" value="<%= memberDetails.ua_purchasing_factor3 %>">
            <br>
            <label for="purFact4">Purchase Factor 4:</label>
            <input type="text" id="purFact4" name="purFact4" value="<%= memberDetails.ua_purchasing_factor4 %>">
            <br>
            <label for="purFact5">Purchase Factor 5:</label>
            <input type="text" id="purFact5" name="purFact5" value="<%= memberDetails.ua_purchasing_factor5 %>">
            <br>
            <label for="purFact6">Purchase Factor 6:</label>
            <input type="text" id="purFact6" name="purFact6" value="<%= memberDetails.ua_purchasing_factor6 %>">
            <br>
            <label for="purFact7">Purchase Factor 7:</label>
            <input type="text" id="purFact7" name="purFact7" value="<%= memberDetails.ua_purchasing_factor7 %>">
            <br>
            <label for="purFact8">Purchase Factor 8:</label>
            <input type="text" id="purFact8" name="purFact8" value="<%= memberDetails.ua_purchasing_factor8 %>">
            <br>
            <label for="purFact9">Purchase Factor 9:</label>
            <input type="text" id="purFact9" name="purFact9" value="<%= memberDetails.ua_purchasing_factor9 %>">
            <br>
            <label for="purFact10">Purchase Factor 10:</label>
            <input type="text" id="purFact10" name="purFact10" value="<%= memberDetails.ua_purchasing_factor10 %>">
            <br>

            <label for="trySkin">Try Skincare:</label>
            <input type="text" id="trySkin" name="trySkin" value="<%= memberDetails.ua_try_skincare %>">
            <br>
            <label for="tryHair">Try Haircare:</label>
            <input type="text" id="tryHair" name="tryHair" value="<%= memberDetails.ua_try_haircare %>">
            <br>
            <label for="tryMake">Try Makeup:</label>
            <input type="text" id="tryMake" name="tryMake" value="<%= memberDetails.ua_try_makeup %>">
            <br>
            <label for="edu">Education:</label>
            <input type="text" id="edu" name="edu" value="<%= memberDetails.ua_education %>">
            <br>
            <label for="emp">Employment:</label>
            <input type="text" id="emp" name="emp" value="<%= memberDetails.ua_employment %>">
            <br>
            <label for="un18">Under 18 in home:</label>
            <input type="checkbox" id="un18" name="un18" value="1" <%= memberDetails.ua_under_18_in_home ? 'checked' : '' %>>
            <br>
            <label for="add1">Address 1:</label>
            <input type="text" id="add1" name="add1" value="<%= memberDetails.ua_address1 %>">
            <br>
            <label for="add2">Address 2:</label>
            <input type="text" id="add2" name="add2" value="<%= memberDetails.ua_address2 %>">
            <br>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= memberDetails.ua_city %>">
            <br>
            <label for="county">County:</label>
            <input type="text" id="county" name="county" value="<%= memberDetails.ua_county %>">
            <br>
            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode" value="<%= memberDetails.ua_postcode %>">
            <br>
            <label for="phoneCode">Phone Code:</label>
            <input type="text" id="phoneCode" name="phoneCode" value="<%= memberDetails.ua_phone_code %>" maxlength="8">
            <br>
            <label for="phoneNum">Phone Number:</label>
            <input type="text" id="phoneNum" name="phoneNum" value="<%= memberDetails.ua_phone_number %>" maxlength="20">
            <br>
            <label for="phoneConfAt">Phone Confirmed At:</label>
            <input type="number" id="phoneConfAt" name="phoneConfAt" value="<%= memberDetails.ua_phone_confirmed_at %>">
            <br>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>