<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad Members</title>
    <link rel="stylesheet" href="/squadMemberStyles.css">
</head>
<body>
    <div class="container">
        <h1><u>Displaying all available Beauty Squad Members</u></h1>
        
        <div class="nav-links">
            <p>
                <!--<a href="/">Home</a>-->
                <a href="/campaigns">Track Campaign</a>
            </p>
        </div>
        <table class="memberTable">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Squad Member Email</th>
                <th>Video Reviewer</th>
                <th>Update Video Reviewer Status</th>
            </tr>
            <% squadMembers.forEach((member) => { %>
                <tr>
                    <td><%= member.user_id %></td>
                    <td><%= member.username %></td>
                    <td><%= member.user_email %></td>
                    <td><%= member.video_reviewer %></td>
                    <td>
                        <form action="/members/edit/<%= member.user_id %>" method="GET" class="squadForm">
                            <button type="submit" class="memberButton">Member Details</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>
